html, body {
  margin: 0;
  padding: 0;
}
#unity-build-title {
  text-align: center;
  width: 100%;
}
#unity-container.unity-desktop { 
}
.fullscreen {
  font-size: 4rem;
}
canvas {
  margin-left: auto;
  margin-right: auto;
}